<div class="container mx-auto mt-10">
  <.live_component
    module={CollaborateWeb.DocumentLive.DocumentComponent}
    id={@document.id}
    title={@page_title}
    action={:edit}
    document={@document}
    patch={~p"/documents/#{@document}"}
  />
</div>
