<div class="w-[700px] h-[1200px] mx-auto bg-white my-8 border border-slate-300">
  <textarea id="text-input" class="w-full h-full p-12 border-slate-600 border-none resize-none focus:ring-0"></textarea>
</div>
